In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('deeplearning/artsy.net_data_painting.csv',names=['artist', 'art_name', 'price_range', 'size', 'category'], encoding='latin-1')

In [7]:
df.head(5)

         artist        art_name price_range  size  category
0  Hans Witschi  Eidolon Nr. 20   1000;2000  1;12  Painting
1  Hans Witschi   Eidolon Nr. 9   1000;2000  1;12  Painting
2  Hans Witschi   Eidolon Nr. 5   1000;2000  1;12  Painting
3  Hans Witschi   Eidolon Nr. 6   1000;2000  1;12  Painting
4  Hans Witschi  Eidolon Nr. 11   1000;2000  1;12  Painting